/* ===== RESET / BASE ===== */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", system-ui, -apple-system, Segoe UI, Roboto, Arial,
    sans-serif;
  background: #f5f5f5;
  color: #1c1c1c;
}

html,
body {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}