


/* ===== FOOTER ===== */

.footer {
  margin-top: 20px;
  padding: 0;
}

.footerBox {
  background: #fff;
  border-radius: 30px 30px 0 0;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);

  padding: 28px 34px 28px 20px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto;
  align-items: start;
  column-gap: 80px;
}

.footerLogo {
  font-weight: 700;
  font-size: 25px;
  line-height: 1;
}

.footerLink {
  font-weight: 400;
  font-size: 17px;
  line-height: 1;
  letter-spacing: 0;
  color: #1c1c1c;
}

.footerLink:hover {
  opacity: 0.7;
}

.footerNav {
  display: grid;
  gap: 12px;
}

.footerService {
  display: grid;
  gap: 35px;
  justify-items: start;
}

.footerLang {
  display: inline-flex;
  align-items: center;
  gap: 17px;
}

.footerGlobe {
  color: #838383;
}

.langBtn {
  border: none;
  background: transparent;
  padding: 0;

  font-weight: 500;
  font-size: 15px;
  line-height: 1;

  cursor: pointer;
  color: #101010;
}

.langBtnActive {
  font-weight: 700;
  color: #ffa542;
}

.footerSocial {
  display: inline-flex;
  align-items: center;
  gap: 18px;
}

.socialLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.socialLink:hover {
  opacity: 0.7;
}

.socialIcon {
  width: 30px;
  height: 30px;
  display: block;
}

